@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
}

body {
  font-family: var(--font-secondary);
}

.prose {
  max-width: 100%;
}

.react-multi-carousel-list {
  padding-bottom: 25px;
}
.react-multi-carousel-dot-list {
  bottom: -10px !important;
  padding: 12px !important;
}
.react-multi-carousel-dot--active button {
  background: #cccccc !important;
}